@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <h1 class="display-4 text-center">CardPay Tester/Mock</h1>
    
    <ul>
        <li><a asp-page="/CardPaySample">CardPay - Request Builder</a></li>
        <li><a href="https://github.com/zabalajka/cardpay-tester" target="_blank">GitHub repository</a></li>
    </ul>
    
</div>
