@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CardPay Tester/Mock</h1>
    
    <a asp-page="/CardPaySample">CardPay - Sample</a>
    <a href="https://github.com/zabalajka/cardpay-tester" target="_blank">GitHub repository</a>
</div>
